In [333]:
import pandas as pd

In [334]:
df=pd.read_csv('nba-players.csv')

In [335]:
df.head()

,Unnamed: 0,name,gp,min,pts,fgm,fga,fg,3p_made,3pa,...,fta,ft,oreb,dreb,reb,ast,stl,blk,tov,target_5yrs
0,0,Brandon Ingram,36,27.4,7.4,2.6,7.6,34.7,0.5,2.1,...,2.3,69.9,0.7,3.4,4.1,1.9,0.4,0.4,1.3,0
1,1,Andrew Harrison,35,26.9,7.2,2.0,6.7,29.6,0.7,2.8,...,3.4,76.5,0.5,2.0,2.4,3.7,1.1,0.5,1.6,0
2,2,JaKarr Sampson,74,15.3,5.2,2.0,4.7,42.2,0.4,1.7,...,1.3,67.0,0.5,1.7,2.2,1.0,0.5,0.3,1.0,0
3,3,Malik Sealy,58,11.6,5.7,2.3,5.5,42.6,0.1,0.5,...,1.3,68.9,1.0,0.9,1.9,0.8,0.6,0.1,1.0,1
4,4,Matt Geiger,48,11.5,4.5,1.6,3.0,52.4,0.0,0.1,...,1.9,67.4,1.0,1.5,2.5,0.3,0.3,0.4,0.8,1

In [336]:
df.shape

(1340, 22)

In [337]:
df.dtypes

Unnamed: 0       int64
name            object
gp               int64
min            float64
pts            float64
fgm            float64
fga            float64
fg             float64
3p_made        float64
3pa            float64
3p             float64
ftm            float64
fta            float64
ft             float64
oreb           float64
dreb           float64
reb            float64
ast            float64
stl            float64
blk            float64
tov            float64
target_5yrs      int64
dtype: object

In [338]:
df.columns

Index(['Unnamed: 0', 'name', 'gp', 'min', 'pts', 'fgm', 'fga', 'fg', '3p_made',
       '3pa', '3p', 'ftm', 'fta', 'ft', 'oreb', 'dreb', 'reb', 'ast', 'stl',
       'blk', 'tov', 'target_5yrs'],
      dtype='object')

In [339]:
df.drop(["Unnamed: 0","name"],axis=1,inplace=True)

In [340]:
df.isnull().sum()

gp             0
min            0
pts            0
fgm            0
fga            0
fg             0
3p_made        0
3pa            0
3p             0
ftm            0
fta            0
ft             0
oreb           0
dreb           0
reb            0
ast            0
stl            0
blk            0
tov            0
target_5yrs    0
dtype: int64

In [341]:
df.corr()['target_5yrs'].sort_values()

3p            -0.000004
3pa            0.018110
3p_made        0.036619
ft             0.106706
ast            0.175353
blk            0.210114
fg             0.227134
stl            0.229811
tov            0.272348
dreb           0.284677
fga            0.292660
oreb           0.293307
fta            0.296089
ftm            0.296841
reb            0.299406
pts            0.315981
fgm            0.317594
min            0.317805
gp             0.396833
target_5yrs    1.000000
Name: target_5yrs, dtype: float64

In [342]:
df["target_5yrs"].value_counts()

1    831
0    509
Name: target_5yrs, dtype: int64

In [343]:
y=df['target_5yrs']

In [344]:
X=df.drop('target_5yrs',axis=1)

In [345]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaled_X=scaler.fit_transform(X)

In [346]:
from sklearn.model_selection import train_test_split

In [347]:
X_train,X_test,y_train,y_test=train_test_split(scaled_X,y,test_size=0.25,
                                               random_state=42)

In [348]:
from sklearn.linear_model import LogisticRegression

In [349]:
lg_model=LogisticRegression(max_iter=10000)

In [350]:
lg_model.fit(X_train,y_train)

LogisticRegression(max_iter=10000)

In [351]:
lg_model.score(X_test,y_test)

0.7134328358208956

In [352]:
lg_model.score(X_train,y_train)

0.7124378109452736

In [353]:
from sklearn.metrics import confusion_matrix

In [354]:
x_pred=lg_model.predict(X_test)
confusion_matrix(y_test,x_pred)

array([[ 61,  66],
       [ 30, 178]], dtype=int64)

In [355]:
from sklearn.metrics import precision_recall_fscore_support as PRF_summary
precision,recall,f1,support=PRF_summary(y_test,x_pred)

In [356]:
from sklearn.metrics import classification_report
report=classification_report(y_test,x_pred)
print(report)

              precision    recall  f1-score   support

           0       0.67      0.48      0.56       127
           1       0.73      0.86      0.79       208

    accuracy                           0.71       335
   macro avg       0.70      0.67      0.67       335
weighted avg       0.71      0.71      0.70       335