In [66]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.svm import SVC

In [67]:
%matplotlib inline

In [68]:
df=pd.read_csv('star_classification.csv')

In [69]:
df

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID
0,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543777e+18,GALAXY,0.634794,5812,56354,171
1,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,GALAXY,0.779136,10445,58158,427
2,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,5.152200e+18,GALAXY,0.644195,4576,55592,299
3,1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,1.030107e+19,GALAXY,0.932346,9149,58039,775
4,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,6.891865e+18,GALAXY,0.116123,6121,56187,842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1.237679e+18,39.620709,-2.594074,22.16759,22.97586,21.90404,21.30548,20.73569,7778,301,2,581,1.055431e+19,GALAXY,0.000000,9374,57749,438
99996,1.237679e+18,29.493819,19.798874,22.69118,22.38628,20.45003,19.75759,19.41526,7917,301,1,289,8.586351e+18,GALAXY,0.404895,7626,56934,866
99997,1.237668e+18,224.587407,15.700707,21.16916,19.26997,18.20428,17.69034,17.35221,5314,301,4,308,3.112008e+18,GALAXY,0.143366,2764,54535,74
99998,1.237661e+18,212.268621,46.660365,25.35039,21.63757,19.91386,19.07254,18.62482,3650,301,4,131,7.601080e+18,GALAXY,0.455040,6751,56368,470
99999,1.237661e+18,196.896053,49.464643,22.62171,21.79745,20.60115,20.00959,19.28075,3650,301,4,60,8.343152e+18,GALAXY,0.542944,7410,57104,851

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 18 columns):
obj_ID         100000 non-null float64
alpha          100000 non-null float64
delta          100000 non-null float64
u              100000 non-null float64
g              100000 non-null float64
r              100000 non-null float64
i              100000 non-null float64
z              100000 non-null float64
run_ID         100000 non-null int64
rerun_ID       100000 non-null int64
cam_col        100000 non-null int64
field_ID       100000 non-null int64
spec_obj_ID    100000 non-null float64
class          100000 non-null object
redshift       100000 non-null float64
plate          100000 non-null int64
MJD            100000 non-null int64
fiber_ID       100000 non-null int64
dtypes: float64(10), int64(7), object(1)
memory usage: 13.7+ MB

In [71]:
df['class'] = pd.factorize(df['class'])[0]

In [72]:
df.corr()['class'].sort_values()

r             -0.076766
redshift      -0.054239
fiber_ID      -0.041586
run_ID        -0.036014
obj_ID        -0.036012
field_ID      -0.034833
u             -0.024645
g             -0.020066
alpha         -0.011756
spec_obj_ID   -0.010060
plate         -0.010060
z             -0.001614
MJD           -0.000405
delta          0.014452
i              0.015028
cam_col        0.023138
class          1.000000
rerun_ID            NaN
Name: class, dtype: float64

In [73]:
df=df.drop(['obj_ID','run_ID','rerun_ID','cam_col','field_ID','fiber_ID'], axis = 1)

In [74]:
df['class'].value_counts()

0    59445
2    21594
1    18961
Name: class, dtype: int64

In [75]:
X=df.drop(['class'],axis=1)
y=df['class']

In [76]:
from sklearn.model_selection import train_test_split

In [77]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=0)

In [78]:
min_on_training=X_train.min(axis=0)

In [79]:
range_on_training=(X_train-min_on_training).max(axis=0)

In [80]:
X_train_scaled=(X_train-min_on_training)/range_on_training
X_test_scaled=(X_test-min_on_training)/range_on_training

In [81]:
X_train_scaled

,alpha,delta,u,g,r,i,z,spec_obj_ID,redshift,plate,MJD
2606,0.017922,0.443099,0.754608,0.646504,0.596110,0.486665,0.532716,0.602238,0.085682,0.602231,0.785090
57228,0.334457,0.414519,0.403784,0.359047,0.352299,0.302072,0.331592,0.081273,0.011308,0.081264,0.150055
8382,0.530650,0.474717,0.390916,0.341987,0.333550,0.286354,0.312652,0.160488,0.014611,0.160492,0.303113
60281,0.376584,0.408980,0.554388,0.561296,0.543052,0.456232,0.504471,0.448657,0.079034,0.448661,0.601038
48432,0.699160,0.487897,0.544600,0.567490,0.580419,0.537087,0.608750,0.867503,0.178541,0.867519,0.907155
...,...,...,...,...,...,...,...,...,...,...,...
21243,0.496269,0.402795,0.588697,0.561892,0.523223,0.429866,0.476254,0.501334,0.069429,0.501344,0.642409
45891,0.643107,0.368909,0.447042,0.397717,0.383685,0.326995,0.356614,0.154136,0.016516,0.154141,0.371382
42613,0.930155,0.185321,0.370264,0.366636,0.386049,0.345178,0.395650,0.071498,0.000969,0.071493,0.222556
43567,0.557827,0.825826,0.409860,0.393334,0.392984,0.342193,0.385781,0.027445,0.024618,0.027441,0.061169
68268,0.577835,0.508885,0.707154,0.597398,0.557503,0.451336,0.499763,0.292734,0.083846,0.292729,0.500546

In [82]:
model=SVC(gamma='auto')

In [83]:
model.fit(X_train_scaled,y_train)

SVC(gamma='auto')

In [84]:
print(model.score(X_train_scaled,y_train))
print(model.score(X_test_scaled,y_test))

0.9224266666666666
0.92264

In [85]:
from sklearn.metrics import confusion_matrix
x_pred=model.predict(X_test_scaled)
confusion_matrix(y_test,x_pred)

array([[14164,   135,   506],
       [  536,  4175,    32],
       [  725,     0,  4727]], dtype=int64)

In [86]:
from sklearn.metrics import precision_recall_fscore_support as PRF_summary
precision,recall,f1,support=PRF_summary(y_test,x_pred)

In [87]:
from sklearn.metrics import classification_report
report=classification_report(y_test,x_pred)
print(report)

              precision    recall  f1-score   support

           0       0.92      0.96      0.94     14805
           1       0.97      0.88      0.92      4743
           2       0.90      0.87      0.88      5452

    accuracy                           0.92     25000
   macro avg       0.93      0.90      0.91     25000
weighted avg       0.92      0.92      0.92     25000

In [88]:
svc=SVC(C=1000,gamma='auto').fit(X_train_scaled,y_train)

In [89]:
print(svc.score(X_train_scaled,y_train))
print(svc.score(X_test_scaled,y_test))

0.97004
0.96904

In [90]:
from sklearn.metrics import confusion_matrix
x_pred=model.predict(X_test_scaled)
confusion_matrix(y_test,x_pred)

array([[14164,   135,   506],
       [  536,  4175,    32],
       [  725,     0,  4727]], dtype=int64)

In [91]:
from sklearn.metrics import classification_report
report=classification_report(y_test,x_pred)
print(report)

              precision    recall  f1-score   support

           0       0.92      0.96      0.94     14805
           1       0.97      0.88      0.92      4743
           2       0.90      0.87      0.88      5452

    accuracy                           0.92     25000
   macro avg       0.93      0.90      0.91     25000
weighted avg       0.92      0.92      0.92     25000